# document
document/

#presentation
presentation/

#environment file
.env
.development.env
/venv
src/__pycache__

#database file
test.db

#credentials
credentials.json

#cache
__pycache__
.DS_Store
dump.rdb